{% extends 'base.html' %}
{% block content %}
      <h1 class="mt-5">Users</h1>
      <div class="alert alert-info" role="alert">
      <p class="lead">Use Jinja templating system to produce a list of users in data.py.<br />
      Follow the documentation: <a href="http://flask.pocoo.org/docs/1.0/quickstart/#rendering-templates">flask.pocoo.org/docs/1.0/quickstart/#rendering-templates</a>.

	   {% for item in users %}
		<li><a href='{{item['name']}}'> {{item['name']}} </a></li>
       {% endfor %}
		
   
		{% if user %}
			<li>{{ user[0]}} was born in {{ user[2][:9]}}.   </li>
			{% if user[1] == "f" %} <li> Her wikipedia id is {{ user[3] }}. </li>
			{% else  %} <li> His wikipedia id is {{ user[3]}}.</li>
			{% endif %}
		{% endif %}

	  		
{% endblock %}
