{% extends 'base.html' %}
{% block content %}
<h1 class="mt-5">Analyse de séquences nucléotidiques et protéiques</h1>


  <article>
	<form  method="post">
		<legend>Choix du type de séquence :</legend>
			<input type="radio" id="prot" name="type" value="prot" checked> <label for="prot">Protéique</label>
			<input type="radio" id="nucl" name="type" value="nucl"> <label for="nucl">Nucléotidique</label><br />
			
		<legend>Localisation de la séquence :</legend>
			<input type="radio" id="web" name="where" value="web" onclick="afficher('web');" checked> <label for="web">sur Uniprot ou EMBL</label>
			<input type="radio" id="local" name="where" value="local"  onclick="afficher('local');"> <label for="local">dans un fichier fasta</label><br />
      <div id="identifiant_web" style="display : block;">
			  <legend>Identifiant séquence (ID Uniprot ou EMBL) :</legend>
			  <input placeholder="ID" aria-label="Search" type="text" name="id"><br />
			</div>

			<div id="sequence_local" style="display : none;"> 
			  <legend>Contenu du fichier fasta (avec déscription précédé de ">") :</legend>
			  <textarea  placeholder="Sequence" type="text" name="seq" style="height:200px; width:800px"></textarea><br />
			</div>
	
    <script type="text/javascript">
    function afficher(etat)
    {   
        if(etat=="web"){
          document.getElementById("identifiant_web").style.display='block';
          document.getElementById("sequence_local").style.display='none';    
        }
        if(etat=="local"){
          document.getElementById("identifiant_web").style.display='none';
          document.getElementById("sequence_local").style.display='block';   
        }
    }
    </script>

<!-- 
		<legend>Voulez-vous tracer des graphiques ?</legend>
			<input type="radio" id="oui" name="choix" value="oui" checked> <label for="oui">Oui</label>
			<input type="radio" id="non" name="choix" value="non"> <label for="non">Non</label><br /><br />
-->
      <br /><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>

		
	</form>
  </article>
{% endblock %}


<!-- vim: set filetype=html spell spelllang=en: -->
